# Настройки сервера
SERVER_IP=194.58.95.200
SERVER_USER=developer

# Настройки приложения
APP_NAME=myapp
APP_ENV=production
APP_DEBUG=false

# Настройки Nginx
NGINX_PORT_HTTP=80
NGINX_PORT_HTTPS=443
NGINX_PORT_SSH=443  # Для SSH через HTTPS

# Docker
COMPOSE_PROJECT_NAME=myapp